<fieldset>
	<div>
		<%= f.label :name %>
		<%= f.text_field :name %>
	</div>
	<div>
		<%= f.label :phone_number %>
		<%= f.text_field :phone_number %>
	</div>
	<div>
		<%= f.hidden_field :_destroy %>
  		<%= link_to "remove", '#', class: "remove_fields" %>
	</div>
</fieldset>