<!DOCTYPE html>
<html>
  <head>
    <title>GamersMachine</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%#= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>

  </head>

  <body>
    <div class="wrapper d-flex">
      <% if super_admin_signed_in? %>
      <div>
        <%= render 'layouts/sidebar' %>
      </div>
      <% end %>
      <div  class="my-container active-cont">
        <% if super_admin_signed_in? %>
          <nav class="navbar top-navbar navbar-light bg-transparent px-5">
            <a class="btn border-0" id="menu-btn"><i class="bx bx-menu"></i>=</a>
          </nav>
        <% end %>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
